body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brandName {
  font-size: 1.5rem;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}

.menu li {
  margin: 0 1rem;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.menu a:hover {
  color: #ccc;
}

.hamburger {
  display: none;
}

.active {
  transform: translateX(0);
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333;
    transform: translateX(-100%);
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    transition: all 0.3s ease-in;
  }

  .menu li {
    margin: 1rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .menu.active {
    transform: translateX(0);
  }
}
